.article {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 10px #ff9800;
    transform: scale(1.1);
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: #ff9800;
  }

  p {
    font-size: 0.9rem;
    color: #fff;
    text-align: start;
  }
}
