.main {
  padding: 2rem;
  // height: 120vh;
  border-bottom: solid 2px #ff9800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  section {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
