.header {
  background-color: #1f1f1f;
  padding: 1.5rem 2rem;
  text-align: center;
  border-bottom: 2px solid #ff9800;

  h1 {
    font-size: 2.5rem;
    color: #ff9800;
  }

  nav {
    margin-top: 1rem;

    a {
      color: #fff;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
      transition: 0.5s;

      &:hover {
        color: #ff9800;
      }
    }
  }
}
