.footer {
  background-color: #1f1f1f;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  p {
    font-size: 1.5rem;
    color: #ff9800;
  }

  div {
    img {
      width: 50px;
      height: 50px;
    }
  }
}
